.hljs {
    /*background: #001c24;
    color: #e0e6f1;*/
    border-left: 2px solid #00aaff;
    border-radius: 0 8px 8px 0;
}

.hljs-keyword {
    color: #ff79c6;
    font-weight: 600;
}

.hljs-built_in {
    color: #50fa7b;
}

.hljs-string {
    color: #f1fa8c;
}

.hljs-number {
    color: #bd93f9;
}

.hljs-comment {
    color: #6272a4;
    font-style: italic;
}

.hljs-function {
    color: #8be9fd;
}

.hljs-params {
    color: #f8f8f2;
}

.hljs-variable {
    color: #ffb86c;
}

.hljs-class {
    color: #ffb86c;
    font-weight: 600;
}

.hljs-title {
    color: #8be9fd;
    font-weight: 600;
}

.hljs-attribute {
    color: #50fa7b;
}

.hljs-symbol {
    color: #ff79c6;
}

.hljs-bullet {
    color: #f8f8f2;
}

.hljs-meta {
    color: #6272a4;
}

.hljs-link {
    color: #8be9fd;
    text-decoration: underline;
}

.hljs-doctag {
    color: #ff79c6;
    font-weight: 600;
}

.hljs-tag {
    color: #ff79c6;
}

.hljs-name {
    color: #ff79c6;
}

.hljs-attr {
    color: #50fa7b;
}

.hljs-literal {
    color: #bd93f9;
}

.hljs-type {
    color: #8be9fd;
}

.hljs-operator {
    color: #ff79c6;
}

.hljs-punctuation {
    color: #f8f8f2;
}

.hljs-property {
    color: #50fa7b;
}

.hljs-selector-tag {
    color: #ff79c6;
    font-weight: 600;
}

.hljs-template-variable {
    color: #ffb86c;
}

.hljs-addition {
    background: rgba(80, 250, 123, 0.1);
    color: #50fa7b;
}

.hljs-deletion {
    background: rgba(255, 121, 198, 0.1);
    color: #ff79c6;
}
